body{
    font-family: "promt", sans-serif;
    background-image: url(images/60.-Zircon.jpg);
    background-size: cover;
}


.nav-wrapper {                              
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px; 
    margin-top: 30px;
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
}

.nav-wrapper ul li{
    list-style-type: none;
    display: inline;
}

.nav-wrapper a{
    letter-spacing: .1em;
    text-decoration: none;
    font-weight: bold;
    color: #222;
}

.nav-wrapper a:hover{
    cursor: pointer;
    color: #eee;
}

.list-item{
    margin-left: 10px;
    text-transform: uppercase;
    padding: 5px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.burger-icon{
    display: none;
}

.main-wrapper {
    max-width: 1200px;
    margin: auto;
    background-color: lightgray;
}
.wrapper {
    width: 100%; 
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    grid-template-areas: 
    "fm fm sf"
    "mc mc ms";
}

.wrapper > .featured,
.wrapper > .sub-featured > div,
.wrapper > .main-content,
.wrapper > .main-sidebar{
    padding: 20px;
}

.featured {
    grid-area:fm;
    min-height: 500px;
    display: grid;
    align-content: flex-end;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1))
    border-box,url(https://source.unsplash.com/1600x900/?women)
    no-repeat center center;
    color: #fff

}

.featured h1{
    font-size: 36px;
    max-width: 650px;
}

.sub-featured {
    grid-area:sf;
}

.main-content{
    grid-area: mc;
    background-color: rgba(255,255,255,.35);
    color: #444;
    line-height: 1.5em;
}

.main-sidebar {
    grid-area: ms;
    background-color: rgba(255,255,255,.35);
    color: #444;
    line-height: 1.5em;
    
}

.sub-featured {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    color: #fff;
}

.sub-featured h3{
    margin-top: 0px;
}

.sub.sub1{
    width: 90%;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1))
    border-box,url(https://source.unsplash.com/400x100/?technology)
    no-repeat center center;
    background-size: cover;
}

.sub.sub2{
    width: 90%;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1))
    border-box,url(https://source.unsplash.com/400x100/?sports)
    no-repeat center center;
    background-size: cover;
}

.sub.sub3{
    width: 90%;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1))
    border-box,url(https://source.unsplash.com/400x100/?winter)
    no-repeat center center;
    background-size: cover;
}
.footer {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,minmax(20px,250px));
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1))
    border-box,url(https://source.unsplash.com/1600x900/?art)
    no-repeat center center;
    background-size: cover;
    color: white;
}

.footer >div{
    padding: 20px;
}

.copyright{
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    grid-column: 1/-1;
}

@media screen and (max-width: 950px){
    .wrapper{
        grid-template-areas: 
        "fm fm fm"
        "sf sf sf"
        "mc mc ms";
    }

    .sub-featured{
        grid-template-columns: repeat(3,1fr);
    }

    .nav-items {
        grid-column: 1/5; 
        text-align: center;
    }


    .logo {
        grid-column: 1/5;
        text-align: center;
    }

    .nav-wrapper {
        margin-top: 0px;
    }
}

@media screen and (max-width:500px){
    .logo{
        grid-column: 1/3;
    }

    .nav-items{
        grid-column: 1/5;
    }

    .nav-wrapper ul {
        padding: 0;
    }

    .nav-wrapper ul li {
        display: block;
    }

    .burger-icon{
        display: inline-block;
        grid-column: 4/5;
        border: 2px solid black;
        color: #333;
        padding: 10px;
        border-radius: 3px;
        justify-self: end;
    }

    .burger-icon:hover{
        cursor: pointer;
    }

    .wrapper{
        grid-template-areas: 
        "fm fm fm"
        "mc mc mc"
        "sf sf sf"
        "ms ms ms";
    }

    .sub-featured{
        grid-template-columns: 1fr;
    }

    .sub-featured h1{
        font-size: 30px;
    }

    .mobile-show{
        display: block;
    }

    .mobile-hide{
        display: none;
    }

    .footer > div{
        grid-column: 1/-1;
    }

    .logo{
        font-size: 16px;
    }

}

